<div>
	<search dogs-caught='ctrl.dogsCaught' dogs-list='ctrl.dogsList' />
</div>
<div>
	<random dogs-caught='ctrl.dogsCaught'/>
</div>
<button class='btn-danger btn-large' ng-click=ctrl.clearDogs()>Clear All!</button>
<div>
	<br/>

	<ul>
		<li class='dog' ng-repeat='dog in ctrl.dogsCaught'><image class='picture' src={{dog.picture}} /> <a class='x' ng-click='ctrl.dogsCaught.splice($index ,1)'>X</a><br/>{{dog.breed}}</li>
	</ul>
	<div ng-if='!ctrl.dogsCaught.length'>Try to catch some dogs!</div>
</div>